<!DOCTYPE html>
<html lang="en">
<head>
  <title>Landing the Kespian shuttle</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Fill in the blanks to write your story!</h1>
    <div>
      <form action= "madlib2">
        <div class="form-group">
          <label for="noun1">A noun</label>
          <input id="noun1" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="adjective1">An adjective</label>
          <input id="adjective1" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="adjective2">An adjective</label>
          <input id="adjective2" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="adverb1">An adverb</label>
          <input id="adverb1" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="verb1">An adjective</label>
          <input id="verb1" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="adjective3">An adjective</label>
          <input id="adjective3" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="noun2">An adjective</label>
          <input id="noun2" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="adjective4">An adjective</label>
          <input id="adjective4" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="noun3">An adjective</label>
          <input id="noun3" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="noun4">An adjective</label>
          <input id="noun4" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="verb2">An adjective</label>
          <input id="verb2" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="noun5">An adjective</label>
          <input id="noun5" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label for="adjective5">An adjective</label>
          <input id="adjective5" class="form-control" type="text">
        </div>

        <button type="submit" class="btn">Show me the story!</button>
      </form>
    </div>
</body>